body{
     background-color: white;
}
 .row{
     margin-bottom: calc(+1* var(--bs-gutter-x));
}
 .wrapper .thumbnail a img{
	 width: 100%;
	 height: 100%;
}
 .navbar{
     --bs-bg-opacity: 1;
     background-color: ivory !important;
     border-bottom-style: groove;
     border-bottom-width: medium;
     border-bottom-color: gold;
     --bs-navbar-color: black;
     --bs-navbar-active-color: black;
     --bs-navbar-hover-color: black;
     --bs-navbar-disabled-color: black;
}
 .navbar-brand img{
     width: 40px;
     border-style: groove;
     border-width: medium;
     border-color: gold;
}
 .navbar-toggler{
     color: gold;
     background-color: peachpuff;
     border-color: gold;
     border-style: groove;
     border-width: thin;
}
 .dropdown-menu{
     border-style: groove;
     border-width: thin;
     border-color: gold;
}
 .thumbnail{
     border-style: groove;
     border-width: thin;
     border-color: gold;
     margin-bottom: 25px;
}
 .thumbnail a img{
     height: 21vh;
    /* 9 + 10 */
     border-radius: var(--bs-border-radius) !important;
}
 .caption{
     margin: 0 auto;
     width: fit-content;
     display: block;
}
 .jumbotron{
     display: flex;
     justify-content: center;
    /* align-items: center;
     */
     max-height: 100vh;
     overflow: hidden;
     height: calc(100vh - 65px);
     height: -o-calc(100vh - 65px);
    /* opera */
     height: -webkit-calc(100vh - 65px);
    /* google, safari */
     height: -moz-calc(100vh - 65px);
    /* firefox */
}
 .jumbotron img{
     flex-shrink: 0;
     min-width: 100%;
     min-height: 100% 
}
 hr {
     border: 0;
     height: 2px;
     margin:18px 0;
     position:relative;
     background: -moz-linear-gradient(left, rgba(255,215,0,0) 0%, rgba(255,215,0,0) 15%, rgba(255,215,0,0.65) 50%, rgba(255,215,0,0) 85%, rgba(255,215,0,0) 100%);
    /* FF3.6+ */
     background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,215,0,0)), color-stop(15%,rgba(255,215,0,0)), color-stop(50%,rgba(255,215,0,0.65)), color-stop(85%,rgba(255,215,0,0)), color-stop(100%,rgba(255,215,0,0)));
    /* Chrome,Safari4+ */
     background: -webkit-linear-gradient(left, rgba(255,215,0,0) 0%,rgba(255,215,0,0) 15%,rgba(255,215,0,0.65) 50%,rgba(255,215,0,0) 85%,rgba(255,215,0,0) 100%);
    /* Chrome10+,Safari5.1+ */
     background: -o-linear-gradient(left, rgba(255,215,0,0) 0%,rgba(255,215,0,0) 15%,rgba(255,215,0,0.65) 50%,rgba(255,215,0,0) 85%,rgba(255,215,0,0) 100%);
    /* Opera 11.10+ */
     background: -ms-linear-gradient(left, rgba(255,215,0,0) 0%,rgba(255,215,0,0) 15%,rgba(255,215,0,0.65) 50%,rgba(255,215,0,0) 85%,rgba(255,215,0,0) 100%);
    /* IE10+ */
     background: linear-gradient(left, rgba(255,215,0,0) 0%,rgba(255,215,0,0) 15%,rgba(255,215,0,0.65) 50%,rgba(255,215,0,0) 85%,rgba(255,215,0,0) 100%);
    /* W3C */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 );
    /* IE6-9 */
}
 hr:before {
     content: "";
     display: block;
     border-top: solid 1px rgba(255,100,100,0.100);
     width: 100%;
     height: 1px;
     position: absolute;
     top: 50%;
     z-index: 1;
}
 